<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>479943912977-ss5ri3efau9q6llh5r2srhk3m8u2qpga.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.479943912977-ss5ri3efau9q6llh5r2srhk3m8u2qpga</string>
	<key>API_KEY</key>
	<string>AIzaSyCrH1zfoi_ssAstOlPO3WcwsFcTXghzGa8</string>
	<key>GCM_SENDER_ID</key>
	<string>479943912977</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Kindy</string>
	<key>PROJECT_ID</key>
	<string>kindy-43d2d</string>
	<key>STORAGE_BUCKET</key>
	<string>kindy-43d2d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:479943912977:ios:a31240878c5e84267b8bb0</string>
</dict>
</plist>